<!DOCTYPE html>
<html lang="es">
    <!-- Header -->
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylsheet" href="/css/styles.css" /> -->
        <style type="text/css" media="screen">
            @import '/css/styles.css';
          </style>
        <!-- <link rel="stylesheet" type="text/css" href="../public/styles/styles.css" media="screen" /> -->
        <title>Mercado Liebre</title>
    </head>

    <!-- Body -->
    <body>
        <header>
            <!-- Navigation -->
            <nav>
                <section class='navigation--img'>
                    <img
                        src="/images/logo-mercado-liebre.svg"
                        class="home--ImageStyle"
                    />
                </div>
                <div class='navigation--search'>
                    <input 
                        type='text'
                        placeholder='Busca un producto' 
                    />
                </div>
                <div class='navigation--user'>
                    <ul>
                        <li>Crea una cuenta</li>
                        <li>Ingresa</li>
                        <li>Mis compras</li>
                    </ul>
                </section>
            </nav>
            
            <section>

                <p>Compra a cuotas y sin tarjeta de crédito</p>
                
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </section>
        </header>
    </body>

    <!-- Footer -->
    <footer>
        
    </footer>
</html>