<!DOCTYPE html>
<html lang="es">
    <!-- Header -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importamos los iconos de FontAwesome para el menu hamburguesa -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!-- Importamos los estilos CSS -->
        <style type="text/css" media="screen">
            @import '/css/styles.css';
        </style>
        <title>Mercado Liebre</title>
    </head>

    <!-- Body -->
    <body>
        <header>
            <!-- Navigation -->
            <nav>
                <section class='navigation__main'>
                    <div class='navigation__img'>
                        <img
                            src="/images/logo-mercado-liebre.svg"
                            class="home--ImageStyle"
                        />
                    </div>
                    <!-- Icono del menú hamburguesa que se activa en resolución 769 o menor -->
                    <i 
                        id='mobileButton' 
                        class='fas fa-bars navigation__button'></i>
                    <!--  -->
                    <div id='menuInput' class='navigation__search'>
                        <input 
                            type='text'
                            placeholder='Busca un producto' 
                        />
                    </div>
                    <div id='menuUser1' class='navigation__user'>
                        <ul>
                            <li>Crea una cuenta</li>
                            <li>Ingresa</li>
                            <li>Mis compras</li>
                        </ul>
                    </div>
                    
                </section>
                <section id='menuUser2' class='navigation__categories'>
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                </section>
            </nav>
        </header>

        <!-- Products -->
        <main>

            <!-- Offers -->
            <h1 class='products__title'>Ofertas</h1>
            <div class='products'>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-samsung-galaxy-s10.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Samsung Galaxy S10
                        </h1>
                        <p class='product__price'>
                            $13,990.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-macbook-pro-2019.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Macbook pro 2019
                        </h1>
                        <p class='product__price'>
                            $33,390.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-tv-samsung-smart.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Samsung Smart TV
                        </h1>
                        <p class='product__price'>
                            $12,314.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-cafetera-moulinex.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Cafetera Moulinex
                        </h1>
                        <p class='product__price'>
                            $411,00.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
            </div>
                
            <!-- Recommendations -->
            <!-- Reciclamos todos los estilos previamente hechos -->
            <h1 class='products__title'>Basado en tu última visita</h1>
            <div class='products'>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-samsung-galaxy-s10.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Samsung Galaxy S10
                        </h1>
                        <p class='product__price'>
                            $13,990.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-macbook-pro-2019.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Macbook pro 2019
                        </h1>
                        <p class='product__price'>
                            $33,390.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-tv-samsung-smart.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Samsung Smart TV
                        </h1>
                        <p class='product__price'>
                            $12,314.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
                <section class='product__section'>
                    <header class='product__header'>
                        <figure>
                            <img
                            src="/images/img-cafetera-moulinex.jpg"
                            class="home--ImageStyle"
                            />
                        </figure>
                    </header>
                    <article class='product__description'>
                        <h1 class='product__product'>
                            Cafetera Moulinex
                        </h1>
                        <p class='product__price'>
                            $411,00.00 MXN
                        </p>
                        <p class='product__discount'>
                            40% de descuento
                        </p>
                    </article>
                </section>
            </div>
        </main>

        <!-- Importamos el código para hacer funcionar el menú hamburguesa -->
        <script src='/scripts/button.js'></script>
    </body>

    <!-- Footer -->
    <footer>
        <div class='footer__main'>
            <section class='footer__section'>
                <h1>
                    Pagá con tarjeta o efectivo
                </h1>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>​
            </section>
            <section class='footer__section'>
                <h1>
                    Envío gratis desde $ 2.500​
                </h1>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section class='footer__section'>
                <h1>
                    Seguridad, de principio a fin​
                </h1>
                ​<p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
        </div>
        <section class='footer__copyright'>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</html>