<!DOCTYPE html>
<html lang="es">
    <!-- Header -->
    <head>
        <meta charset="UTF-8">
        <style type="text/css" media="screen">
            @import '/css/styles.css';
          </style>
        <title>Mercado Liebre</title>
    </head>

    <!-- Body -->
    <body>
        <header>
            <!-- Navigaton -->
            <nav>
                <section class='navigation--main'>
                    <div class='navigation--img'>
                        <img
                            src="/images/logo-mercado-liebre.svg"
                            class="home--ImageStyle"
                        />
                    </div>
                    <div class='navigation--search'>
                        <input 
                            type='text'
                            placeholder='Busca un producto' 
                        />
                    </div>
                    <div class='navigation--user'>
                        <ul>
                            <li>Crea una cuenta</li>
                            <li>Ingresa</li>
                            <li>Mis compras</li>
                        </ul>
                    </div>
                </section>
                <section class='navigation--categories'>
                    <p>Compra a cuotas y sin tarjeta de crédito</p>
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                </section>
            </nav>
        </header>
    </body>

    <!-- Footer -->
    <footer>
        
    </footer>
</html>