/* Estilos globales */
html, body{
    background-color: whitesmoke;
    margin: 0px;
}

main{
    margin-top: 5%;
}

a{
    text-decoration: none;
    color: grey;
}

a:visited{
    color: grey;
}

h1{
    color: grey;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-family: 'Alumni Sans', sans-serif;
}

ul{
    list-style: none;
}

p{
    color: grey;
    margin: 0px;
    padding: 0px;
    font-family: 'Alumni Sans', sans-serif;
}

nav{
    background-color: #fcf45c;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    font-family: 'Alumni Sans', sans-serif;
}

nav input {
    width: 70%;
    height: 30px;
    border-color: rgb(109, 109, 109, 0.1);
}

nav input:focus{
    outline:none;
} 

nav img{
    width: 50%;
}

section figure{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

section figure img{
    width: 100%;
    height: 100%;
}


/* Estilos de Navegación */
.navigation__main{
    width: 100%;
    height: 50px; 
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 1fr;
    justify-items: end;
    grid-column-gap: 20px;
}

.navigation__img{
    margin-top: 5px;
    height: 60px;
    width: 60%;
}

.navigation__search{
    margin-top: 5px;
    height: 60px;
    width: 100%;
}

.navigation__user{
    /* height: 60px; */
    width: 100%;
}

.navigation__categories{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.navigation__categories ul{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation__categories li{
    margin-left: 20px;
    cursor: pointer;
}

.navigation__user ul{
    display: flex;
    /* height: 35px; */
    background-color: transparent;
    width: 100%;
}

.navigation__user li{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

li:hover{
    border: 0;
    border-bottom: 0.5px solid #5c5a5a;
}

.navigation__button{
    display: none;
}



/* Estilos de Productos */
.products__title {
    width: 60%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.products{
    width: 60%;
    height: 24rem;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.product__section{
    width: 270px;
    background-color: white;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 3em;
}

.product__section figure{
    background-color: #fcf45c;
    width: 100%;
    margin: 0px;
}

.product__section img{
    width: 100%;
}

.product__header{
    background-color: indigo;
}

.product__discount{
    color: rgb(4, 160, 4);
    margin-top: 10px;
    font-weight: bolder;
}

.product__description{
    padding: 10px;
    align-items: center;
}

#product_truckIcon{
    transition: 1.5s;
    color: rgb(4, 160, 4);
    width: 100%;
}

#product_showAll{
    display: none; 
    transition: display 1s;
}

main section{
    transition: height 1s, box-shadow 2s; 
}

main section:hover #product_truckIcon{
    animation: slideCart 7s infinite;
}

main section:hover #product_showAll{
    display: block;
}

main section:hover{
    transition: display .1s, box-shadow 2s;
    height: 375px;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

/* Animaciones del carrito */
@keyframes slideCart {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(175px);
    }
  }


/* Estilos de Footer */
.footer__main {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
}

.footer__copyright {
    width: 100%;
    height: 50px;
    font-size: 13px;
    background-color: whitesmoke;
    text-align: center;
}

.footer__section {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    font-size: 13px;
    height: 100px;
    padding: 20px;
    text-align: center;
}

footer section i{
    font-size: 50px;
    text-align: center;
    color: rgb(68, 68, 248);
    width: 100%;
}


/* Media queries */

/* Media query para pantallas mas pequeñas, agrandamos el 100% del ancho de la pantalla para que
    los productos no se compacten demasiado. */
@media all and (max-width: 1360px) {
    .products{
        width: 100%;
        justify-content: center;
        height: auto;
    }
    .product__section{
        height: auto;
    }
    main section:hover{
        height: auto;
    }
}

/* Media query para el ancho de una tablet y resoluciones más pequeñas como telefonos moviles. */
@media all and (max-width: 700px){
    section figure{
        width: 100%;
        height: auto;
        margin-top: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    
    section figure img{
        width: 100%;
        height: 100%;
    }

    nav input {
        width: 100%;
        height: 30px;
        border-color: rgb(109, 109, 109, 0.1);
    }

    nav img{
        width: 100%;
    }

    main section:hover{
        height: auto;
    }

    .navigation__main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: start;
        height: auto;
    }

    .navigation__button{
        border-color: transparent;
        font-size: 40px;
        color: grey;
        position: relative;
        left: 50%;
        color: blue;
        display: block;
    }

    .navigation__img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .navigation__search{
        width: 70%;
        margin: auto;
        display: none;
    }

    .navigation__user{
        display: none;
        height: 100px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .navigation__categories{
        display: flex;
        display: none;
    }

    .navigation__categories ul{
        height: 60px;
        justify-content: left;
    }
    
    .navigation__categories li{
        font-size: 20px;
        cursor: pointer;
    }

    .navigation__user ul{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .products{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .product__section{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 1.5em;
    }

    .product__product{
        display: none;
    }
    
    .footer__main {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .footer__copyright {
        width: 100%;
        height: 50px;
        font-size: 13px;
        background-color: whitesmoke;
        text-align: center;
    }
    
    .footer__section {
        background-color: whitesmoke;
        width: 100%;
        margin: auto;
        font-size: 13px;
        height: 100px;
        padding: 20px;
        text-align: center;
    }
    
    footer section i{
        font-size: 50px;
        text-align: center;
        color: rgb(68, 68, 248);
        width: 100%;
    }

    #product_truckIcon{
        width: 40%;
    }

}

/* Estilos para desactivar o activar el menú hamburguesa. (El código del menú esta en public/scripts). */
.visibilityEnable{
    display: inline;
}

.visibilityDisable{
    display: none;
}
