html, body {
    background-color: white;
    margin: 0px;
}

h1{
    color: grey;
    margin: 0px;
    padding: 0px;
    /* background-color: hotpink; */
}

p{
    color: grey;
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(30, 255, 0); */
}

nav {
    background-color: #fcf45c;
}

nav input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border-color: rgb(109, 109, 109, 0.2);
}

nav img {
    width: 100%;
}

.navigation--main{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.navigation--img{
    margin-top: 20px;
    height: 60px;
    width: 10%;
    justify-content: right;
}

.navigation--search {
    margin-top: 20px;
    height: 60px;
    width: 30%;
    margin-left: 40px;
}

.navigation--user{
    margin-top: 10px;
    height: 60px;
    width: 25%;
}

.navigation--categories{
    display: flex;
    width: 60%;
    margin: auto;
}

.navigation--categories ul{
    display: flex;
}

.navigation--categories li{
    margin-right: 20px;
    cursor: pointer;
}

div ul{
    display: flex;
    height: 35px;
    background-color: transparent;
    width: 100%;
    justify-content: right;
}

div ul li{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

li:hover{
    border: 0;
    border-bottom: 0.5px solid #5c5a5a;
}

div input {
    display: flex;
}

ul {
    list-style: none;
}





/* Products */

.products__title {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.products {
    width: 60%;
    /* height: 700px; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* background-color: lawngreen; */
    
}

.product__section{
    width: 240px;
    margin-left: 35px;
    /* background-color: lightcoral; */
    height: 370px;
    margin-bottom: 20px;
    float: left;
}

.product__section figure {
    background-color: #fcf45c;
    width: 100%;
    margin: 0px;
}
.product__section img {
    width: 100%;
}

.product__header {
    background-color: indigo;
}

.product__discount {
    color: rgb(4, 160, 4);
    margin-top: 10px;
    font-weight: bolder;
}

section article {
    /* background-color: khaki; */
    padding: 10px;
    align-items: center;
}
/* .product__section figure {
    background-color: hotpink;
    float: left;
} */