/* Estilos globales */
html, body{
    background-color: whitesmoke;
    margin: 0px;
}

main{
    margin-top: 200px;
}

h1{
    color: grey;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

p{
    color: grey;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #fcf45c;
    position: fixed;
    width: 100%;
    top: 0px;
}

nav input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border-color: rgb(109, 109, 109, 0.2);
}

nav img{
    width: 100%;
}

/* Estilos de Navegación */
.navigation__main{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation__img{
    margin-top: 20px;
    height: 60px;
    width: 10%;
}

.navigation__search{
    margin-top: 20px;
    height: 60px;
    width: 30%;
    margin-left: 40px;
}

.navigation__user{
    margin-top: 10px;
    height: 60px;
    width: 25%;
}

.navigation__categories{
    display: flex;
    width: 60%;
    height: 50px;
    margin: auto;
}

.navigation__categories ul{
    display: flex;
}

.navigation__categories li{
    margin-right: 20px;
    cursor: pointer;
}

.navigation__user ul{
    display: flex;
    height: 35px;
    background-color: transparent;
    width: 100%;
}

.navigation__user li{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

li:hover{
    border: 0;
    border-bottom: 0.5px solid #5c5a5a;
}

.navigation__button{
    display: none;
}

/* Estilos de Productos */
.products__title {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.products{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.product__section{
    width: 240px;
    background-color: white;
    height: 370px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 1px, solid #ebebeb;
}

.product__section figure{
    background-color: #fcf45c;
    width: 100%;
    margin: 0px;
}

.product__section img{
    width: 100%;
}

.product__header{
    background-color: indigo;
}

.product__discount{
    color: rgb(4, 160, 4);
    margin-top: 10px;
    font-weight: bolder;
}

.product__description{
    padding: 10px;
    align-items: center;
}


/* Estilos de Footer */
.footer__main {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
}

.footer__copyright {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: whitesmoke;
    text-align: center;
}

.footer__section {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    font-size: 13px;
    height: 100px;
    padding: 20px;
}

/* Media queries */

/* Media query para pantallas mas pequeñas, agrandamos el 100% del ancho de la pantalla para que
    los productos no se compacten demasiado. */
@media all and (max-width: 1360px) {
    .products{
        width: 100%;
    }
}

/* Media query para el ancho de una tablet y resoluciones más pequeñas como telefonos moviles. */
@media all and (max-width: 769px) {
    nav{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .navigation__button{
        border-color: transparent;
        background-color: transparent;
        width: 100px;
        font-size: 40px;
        color: grey;
        position: absolute;
        top: 20px;
        right: 0px;
        display: inline;
    }

    .navigation__main{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .navigation__img{
        width: 50%;
        height: auto;
    }

    .navigation__search{
        width: 260px;
        display: none;
    }

    .navigation__user{
        display: none;
        width: 90%;
        height: 100px;
        text-align: center;
    }

    .navigation__categories{
        width: 90%;
        display: none;
    }

    .navigation__categories ul{
        height: 60px;
        margin: 0px;
    }
    
    .navigation__categories li{
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    .navigation__user ul{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .products{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .product__section{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 1.5em;
    }

    .product__product{
        display: none;
    }
    
    .footer__main{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .footer__section{
        width: 100%;
    }
}

/* Estilos para desactivar o activar el menú hamburguesa. (El código del menú esta en public/scripts). */
.visibilityEnable{
    display: inline;
}

.visibilityDisable{
    display: none;
}
